:host {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar container";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
}

app-header {
  grid-area: header;

  position: sticky;
  top: 0;
  z-index: 100;
}

app-sidebar {
  grid-area: sidebar;
}

main {
  grid-area: container;

  position: relative;
  box-sizing: border-box;
  max-height: calc(100vh - var(--header-height));
  padding: 2em;
  overflow: auto;
  background-color: #ECECEC;
}

@media(max-width: 768px) {

  :host {
    grid-template-areas:
      "header header"
      "container container";
    grid-template-columns: [sidebar-start] auto [sidebar-end] 1fr;
    grid-template-rows: auto [sidebar-start] 1fr [sidebar-end];
  }

  app-sidebar {
    z-index: 0;
    transform: translateX(-600px);
    -moz-transition: transform 0.1s ease-in-out, z-index 0.1s ease-in-out;
    -webkit-transition: transform 0.1s ease-in-out, z-index 0.1s ease-in-out;
    transition: transform 0.1s ease-in-out, z-index 0.1s ease-in-out;
  }

  .sidebar-show {
    transform: translateX(0);
    z-index: 200;
  }

  app-backdrop {
    grid-area: container;
  }

  main {
    padding: 1em;
  }
}
