aside {
  --sidebar-padding: 10px;
  --sidebar-toggle-height: 60px;

  display: grid;
  grid-template-areas:
    "buttonToggle"
    "sidebarItems"
    "footer";
  grid-template-rows: auto 1fr auto;

  background: var(--accent);
  width: 250px;
  max-height: calc(100vh - var(--header-height));
  -moz-transition: width 0.1s ease-in-out;
  -webkit-transition: width 0.1s ease-in-out;
  transition: width 0.1s ease-in-out;
}

.sidebar-toogle-container {
  grid-area: buttonToggle;

  height: var(--sidebar-toggle-height);
  display: flex;
  justify-content: flex-end;
  color: white;
  font-size: 1.2rem;
  padding: var(--sidebar-padding);
  box-sizing: border-box;
}

.sidebar-items {
  padding: var(--sidebar-padding);
  color: white;
  height: calc(100vh - var(--sidebar-toggle-height) - var(--header-height) - var(--footer-height));
  overflow-y: auto;
}

app-footer {
  grid-area: footer;
}

@media(max-width: 768px) {

  .sidebar-toogle-container-mobile {
    display: block;
  }

  aside {
    grid-template-areas:
      "sidebarItems"
      "footer";
    grid-template-rows: 1fr auto;
    width: 70vw;
  }

  .sidebar-toogle-container {
    display: none;
  }

  .sidebar-items {
    height: calc(100vh - var(--header-height) - var(--footer-height));
  }
}
